# Using IBM Cloud SQL Query

<div class="pull-left"><left><img style="float: right;" src="http://developer.ibm.com/clouddataservices/wp-content/uploads/sites/85/2018/01/ibm-cloud-object-storage-logo-small.png" width="100" margin=50></left></div>
<div style="text-align:center">
IBM Cloud SQL Query is IBM's serverless SQL service on data in Cloud Object Storage. It allows to run ANSI SQL on Parquet, CSV, JSON, ORC and AVRO data sets. You can use it to run your analytic queries, and you can use it to conduct complex transformations and write the result in any desired data format, partitioning and layout. SQL Query is based on Apache Spark SQL as the query engine in the background. This means you do not have to provision any Apache Spark instance or service. A simple Python client (like the IBM Watson Studio Notebook) is sufficient.<br><br></div>
This notebook is meant to be a generic starter to use the SQL Query API in order to run SQL statements in a programmatic way. It uses the <a href="https://github.com/IBM-Cloud/sql-query-clients/tree/master/Python" target="_blank" rel="noopener noreferrer">ibmcloudsql</a> Python library for this purpose. The notebook has been verified to work with Python 3.5. As mentioned above it does not require a Spark service bound to the notebook.

## Table of contents
1. [Setup libraries](#setup)<br>
2. [Configure SQL Query](#configure)<br>
    2.1 [Using the project bucket](#projectbucket)<br>
    2.2 [Setting SQL Query parameters](#parameters)<br>
3. [Your SQL](#sql)<br>
4. [Running Your SQL Statement](#run)<br>
    4.1 [Low level SQL job submission](#lowlevel)<br>
5. [Running ETL SQLs](#etl)<br>
6. [Paginated SQL Results](#pagination)<br>
7. [Working with SQL result objects](#results)<br>
8. [List recent SQL submissions](#joblist)<br>
9. [Next steps](#next)<br>

### <a id="setup"></a> 1. Setup libraries

Run the following cell at least once in your notebook environment in order to install required packages, such as the SQL Query client library:

In [2]:
!conda install pyarrow
!conda install sqlparse

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

In [3]:
!pip install --upgrade --user ibmcloudsql

Requirement already up-to-date: ibmcloudsql in /home/dsxuser/.local/lib/python3.6/site-packages (0.4.9)
Requirement already satisfied, skipping upgrade: backoff==1.10.0 in /home/dsxuser/.local/lib/python3.6/site-packages (from ibmcloudsql) (1.10.0)
Requirement already satisfied, skipping upgrade: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibmcloudsql) (1.15.4)
Requirement already satisfied, skipping upgrade: ibm-cos-sdk>=2.4.4 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibmcloudsql) (2.7.0)
Requirement already satisfied, skipping upgrade: requests>=2.2.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibmcloudsql) (2.21.0)
Requirement already satisfied, skipping upgrade: sqlparse in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibmcloudsql) (0.3.1)
Requirement already satisfied, skipping upgrade: packaging in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibmcloudsql) (19.0)
Requirement already satisfied, skipping upgrade: ibm-cos-sdk-core>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibmcloudsql) (2.7.0)
Requirement already satisfied, skipping upgrade: pandas in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibmcloudsql) (0.24.1)
Requirement already satisfied, skipping upgrade: pyarrow==0.15.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibmcloudsql) (0.15.1)
Requirement already satisfied, skipping upgrade: jmespath<1.0.0,>=0.7.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibm-cos-sdk>=2.4.4->ibmcloudsql) (0.9.3)
Requirement already satisfied, skipping upgrade: ibm-cos-sdk-s3transfer==2.7.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibm-cos-sdk>=2.4.4->ibmcloudsql) (2.7.0)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests>=2.2.0->ibmcloudsql) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests>=2.2.0->ibmcloudsql) (1.24.1)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests>=2.2.0->ibmcloudsql) (2.8)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests>=2.2.0->ibmcloudsql) (3.0.4)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from packaging->ibmcloudsql) (2.3.1)
Requirement already satisfied, skipping upgrade: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from packaging->ibmcloudsql) (1.12.0)
Requirement already satisfied, skipping upgrade: python-dateutil<3.0.0,>=2.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibm-cos-sdk-core>=2.0.0->ibmcloudsql) (2.7.5)
Requirement already satisfied, skipping upgrade: docutils<0.16,>=0.10 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibm-cos-sdk-core>=2.0.0->ibmcloudsql) (0.14)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas->ibmcloudsql) (2018.9)

In [4]:
import ibmcloudsql
import pandas as pd
targeturl=''

### <a id="configure"></a> 2. Configure SQL Query
1. You need an **API key** for an IBM cloud identity that has access to your Cloud Object Storage bucket for writing SQL results and to your SQL Query instance. To create API keys log on to the IBM Cloud console and go to <a href="https://console.bluemix.net/iam/#/apikeys" target="_blank">Manage->Security->Platform API Keys</a>, click the `Create` button, give the key a custom name and click `Create`. In the next dialog click `Show` and copy the key to your clipboard and paste it below in this notebook.
2. You need the **instance CRN** for the SQL Query instance. You can find it in the <a href="https://console.bluemix.net/dashboard/apps" target="_blank">IBM Cloud console dashboard</a>. Make sure you have `All Resources` selected as resource group. In the section `Services` you can see your instances of SQL Query and Cloud Object Storage. Select the instance of SQL Query that you want to use. In the SQL Query dashboard page that opens up you find a section titled **REST API** with a button labelled **Instance CRN**. Click the button to copy the CRN into your clipboard and paste it here into the notebook. If you don't have an SQL Query instance created yet, <a href="https://console.bluemix.net/catalog/services/sql-query" target="_blank">create one</a> first.
3. You need to specify the location on Cloud Object Storage where your **query results** should be written. This comprises three parts of information that you can find in the Cloud Object Storage UI for your instance in the IBM Cloud console. You need to provide it as a **URL** using the format `cos://<endpoint>/<bucket>/[<prefix>]`. You have the option to use the cloud object storage **bucket that is associated with your project**. In this case, execute the following section before you proceed.  
<br/>
For more background information, check out the SQL Query <a href="https://console.bluemix.net/docs/services/sql-query/getting-started.html#getting-started-tutorial" target="_blank">documentation</a>.

#### <a id="projectbucket"></a> 2.1 Using the project bucket
**Only** follow the instructions in this section when you want to write your SQL query results to the bucket that has been created for the project for which you have created this notebook. In any other case proceed directly with section **2.2**.
<br><br>
__Inserting the project token__:  
Click the `More` option in the toolbar above (the three stacked dots) and select `Insert project token`.
 * If you haven't created an access token for this project before, you will see a dialog that asks you to create one first. Follow the link to open your project settings, scroll down to `Access tokens` and click `New token`. Give the token a custom name and make sure you select `Editor` as `Access role for project`. After you created your access token you can come back to this notebook, select the empty cell below and again select `Insert project token` from the toolbar at the top.
[//]: # 
This will add a new cell at the top of your notebook with content that looks like this:
```
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(project_id='<some id>', project_access_token='<some access token>')
pc = project.project_context
```
Leave that cell content as inserted and run the cell. Then then proceed with the following cell below:

In [5]:
cos_bucket = project.get_metadata()['entity']['storage']['properties']
targeturl="cos://" + cos_bucket['bucket_region'] + "/" + cos_bucket['bucket_name'] + "/"

#### <a id="parameters"></a> 2.2 Setting the SQL Query parameters

In [6]:
import getpass
apikey=getpass.getpass('Enter IBM Cloud API Key (leave empty to use previous one): ') or apikey
instnacecrn=input('Enter SQL Query Instance CRN (leave empty to use previous one): ') or instnacecrn
if targeturl == '':
    targeturl=input('Enter target URL for SQL results: ')
else:
    targeturl=input('Enter target URL for SQL results (leave empty to use ' + targeturl + '): ') or targeturl
sqlClient = ibmcloudsql.SQLQuery(apikey, instnacecrn, client_info='SQL Query Starter Notebook')
sqlClient.logon()
print('\nYour SQL Query web console link:\n')
sqlClient.sql_ui_link()

Enter IBM Cloud API Key (leave empty to use previous one): ········
Enter SQL Query Instance CRN (leave empty to use previous one): crn:v1:bluemix:public:sql-query:us-south:a/23f1e9853c41f6b566e71689ed8a1363:c49157a5-b308-4f6b-972c-455082a8f47e::
Enter target URL for SQL results (leave empty to use cos://us-geo/notebooks-donotdelete-pr-thri4xhqi5ofdi/): cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud

Your SQL Query web console link:

https://sql-query.cloud.ibm.com/sqlquery/?instance_crn=crn:v1:bluemix:public:sql-query:us-south:a/23f1e9853c41f6b566e71689ed8a1363:c49157a5-b308-4f6b-972c-455082a8f47e::

'https://sql-query.cloud.ibm.com/sqlquery/?instance_crn=crn:v1:bluemix:public:sql-query:us-south:a/23f1e9853c41f6b566e71689ed8a1363:c49157a5-b308-4f6b-972c-455082a8f47e::'

### <a id="sql"></a> 3. Your SQL
To author your own SQL query, use the interactive SQL Query web console (**link above**) of your SQL Query service instance.

In [7]:
import sqlparse
from pygments import highlight
from pygments.lexers import get_lexer_by_name
from pygments.formatters import HtmlFormatter, Terminal256Formatter

sql=input('Enter your SQL statement (leave empty to use a simple sample SQL)')
if sql == '':
    sql='SELECT o.OrderID, c.CompanyName, e.FirstName, e.LastName FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, \
         cos://us-geo/sql/employees.parquet STORED AS PARQUET e, cos://us-geo/sql/customers.parquet STORED AS PARQUET c \
         WHERE e.EmployeeID = o.EmployeeID AND c.CustomerID = o.CustomerID AND o.ShippedDate > o.RequiredDate AND o.OrderDate > "1998-01-01" \
         ORDER BY c.CompanyName'
if " INTO " not in sql:
    sql += ' INTO {} STORED AS CSV'.format(targeturl)
formatted_sql = sqlparse.format(sql, reindent=True, indent_tabs=True, keyword_case='upper')
lexer = get_lexer_by_name("sql", stripall=True)
formatter = Terminal256Formatter(style='tango')
result = highlight(formatted_sql, lexer, formatter)
from IPython.core.display import display, HTML
print('\nYour SQL statement is:\n')
print(result)

Enter your SQL statement (leave empty to use a simple sample SQL)

Your SQL statement is:

SELECT o.OrderID,
	c.CompanyName,
	e.FirstName,
	e.LastName
FROM cos://us-geo/SQL/orders.parquet STORED AS PARQUET o,
	cos://us-geo/SQL/employees.parquet STORED AS PARQUET e,
	cos://us-geo/SQL/customers.parquet STORED AS PARQUET c
WHERE e.EmployeeID = o.EmployeeID
		AND c.CustomerID = o.CustomerID
		AND o.ShippedDate > o.RequiredDate
		AND o.OrderDate > "1998-01-01"
ORDER BY c.CompanyName INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-OBJECT-storage.appdomain.cloud STORED AS CSV

### <a id="run"></a> 4. Running Your SQL Statement
The following cell submits the above SQL statement and waits for it to finish before printing a sample of the result set.

In [8]:
result_df = sqlClient.run_sql(sql)
if isinstance(result_df, str):
    print(result_df)

In [9]:
result_df.head(10)

   OrderID                 CompanyName FirstName   LastName
0    10924          Berglunds snabbköp     Janet  Leverling
1    11058     Blauer See Delikatessen      Anne  Dodsworth
2    10827                    Bon app'     Nancy    Davolio
3    11076                    Bon app'  Margaret    Peacock
4    11045       Bottom-Dollar Markets   Michael     Suyama
5    10970   Bólido Comidas preparadas      Anne  Dodsworth
6    11054  Cactus Comidas para llevar     Laura   Callahan
7    11008                Ernst Handel    Robert       King
8    11072                Ernst Handel  Margaret    Peacock
9    10816     Great Lakes Food Market  Margaret    Peacock

#### <a id="lowlevel"></a> 4.1 Low level SQL job submission
Let's run the same SQL again, but this time using the asynchronous submission mechanism and the status check method.

In [10]:
sqlClient.logon()
jobId = sqlClient.submit_sql(sql)
print("SQL query submitted and running in the background. jobId = " + jobId)

SQL query submitted and running in the background. jobId = 16503ee4-a074-4b15-b558-b11513ceabd9

In [11]:
print("Job status for " + jobId + ": " + sqlClient.get_job(jobId)['status'])

Job status for 16503ee4-a074-4b15-b558-b11513ceabd9: running

Use the `wait_for_job()` method as a blocking call until your job has finished:

In [12]:
job_status = sqlClient.wait_for_job(jobId)
print("Job " + jobId + " terminated with status: " + job_status)
if job_status == 'failed':
    details = sqlClient.get_job(jobId)
    print("Error: {}\nError Message: {}".format(details['error'], details['error_message']))

Job 16503ee4-a074-4b15-b558-b11513ceabd9 terminated with status: completed

Use the `get_result()` method to retrieve a dataframe for the SQL result set:

In [13]:
result_df = sqlClient.get_result(jobId)
print("OK, we have a dataframe for the SQL result that has been stored by SQL Query in " + sqlClient.get_job(jobId)['resultset_location'])

OK, we have a dataframe for the SQL result that has been stored by SQL Query in cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=16503ee4-a074-4b15-b558-b11513ceabd9

You can delete the result set from Cloud Object Storage using the `delete_result()` method:

In [14]:
sqlClient.delete_result(jobId)

                                      Deleted Object
0  s3.us-south.cloud-object-storage.appdomain.clo...
1  s3.us-south.cloud-object-storage.appdomain.clo...
2  s3.us-south.cloud-object-storage.appdomain.clo...

### <a id="etl"></a> 5. Running ETL SQLs
The following ETL SQL statement joins two data sets from COS and writes the result to COS using **hive style partitioning** with two columns.

In [15]:
etl_sql='SELECT OrderID, c.CustomerID CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax \
         EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, \
         ShipCity, ShipRegion, ShipPostalCode, ShipCountry FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, \
         cos://us-geo/sql/customers.parquet STORED AS PARQUET c \
         WHERE c.CustomerID = o.CustomerID \
         INTO {}customer_orders STORED AS PARQUET PARTITIONED BY (ShipCountry, ShipCity)'.format(targeturl)
formatted_etl_sql = sqlparse.format(etl_sql, reindent=True, indent_tabs=True, keyword_case='upper')
result = highlight(formatted_etl_sql, lexer, formatter)
print('\nExample ETL Statement is:\n')
print(result)

Example ETL Statement is:

SELECT OrderID,
	c.CustomerID CustomerID,
	CompanyName,
	ContactName,
	ContactTitle,
	Address,
	City,
	Region,
	PostalCode,
	Country,
	Phone,
	Fax EmployeeID,
	OrderDate,
	RequiredDate,
	ShippedDate,
	ShipVia,
	Freight,
	ShipName,
	ShipAddress,
	ShipCity,
	ShipRegion,
	ShipPostalCode,
	ShipCountry
FROM cos://us-geo/SQL/orders.parquet STORED AS PARQUET o,
	cos://us-geo/SQL/customers.parquet STORED AS PARQUET c
WHERE c.CustomerID = o.CustomerID INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-OBJECT-storage.appdomain.cloudcustomer_orders STORED AS PARQUET PARTITIONED BY (ShipCountry,
																																																																																																																																																																										ShipCity)

In [16]:
jobId = sqlClient.submit_sql(etl_sql)
print("SQL query submitted and running in the background. jobId = " + jobId)
job_status = sqlClient.wait_for_job(jobId)
print("Job " + jobId + " terminated with status: " + job_status)
job_details = sqlClient.get_job(jobId)
if job_status == 'failed':
    print("Error: {}\nError Message: {}".format(job_details['error'], job_details['error_message']))

SQL query submitted and running in the background. jobId = 911ba35e-f979-48a8-99fa-40d7a9c7d816
Job 911ba35e-f979-48a8-99fa-40d7a9c7d816 terminated with status: completed

The following cell uses the `get_cos_summary()` method to print a summary of the objects that have been written by the previous ETL SQL statement. Note the **total_volume** value. We will reference it for comparison in the next steps.

In [17]:
resultset_location = job_details['resultset_location']
sqlClient.get_cos_summary(resultset_location)

{'url': 'cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/',
 'total_objects': 71,
 'total_volume': '401.7 KB',
 'oldest_object_timestamp': 'October 05, 2020, 19H:51M:43S',
 'newest_object_timestamp': 'October 05, 2020, 19H:51M:54S',
 'smallest_object_size': '0.0 B',
 'smallest_object': 's3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/_SUCCESS',
 'largest_object_size': '7.1 KB',
 'largest_object': 's3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=UK/ShipCity=London/part-00015-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195143_0129_m_000015_1416.c000.snappy.parquet'}

The following cell uses the `list_results()` method to print a list of the objects that have been written by the above ETL SQL statement. Note the partition columns and their values being part of the object names now. This naming convention is known as **hive style partitioning**. This type of partitioning is the basis for optimizing SQL queries using predicates that match with the partitioning columns.

In [18]:
pd.set_option('display.max_colwidth', -1)
result_objects_df = sqlClient.list_results(jobId)
print("List of objects written by ETL SQL:")
result_objects_df.head(200)

List of objects written by ETL SQL:

,Object,LastModified,Size,StorageClass,Bucket,ObjectURL
0,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816,2020-10-05 19:51:41.846000+00:00,0,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816
1,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Argentina/ShipCity=Buenos Aires/part-00065-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195145_0129_m_000065_1433.c000.snappy.parquet,2020-10-05 19:51:45.336000+00:00,6412,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Argentina/ShipCity=Buenos Aires/part-00065-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195145_0129_m_000065_1433.c000.snappy.parquet
2,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Austria/ShipCity=Graz/part-00096-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000096_1442.c000.snappy.parquet,2020-10-05 19:51:46.110000+00:00,6094,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Austria/ShipCity=Graz/part-00096-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000096_1442.c000.snappy.parquet
3,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Austria/ShipCity=Salzburg/part-00015-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195143_0129_m_000015_1416.c000.snappy.parquet,2020-10-05 19:51:43.649000+00:00,5636,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Austria/ShipCity=Salzburg/part-00015-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195143_0129_m_000015_1416.c000.snappy.parquet
4,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Belgium/ShipCity=Bruxelles/part-00180-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000180_1465.c000.snappy.parquet,2020-10-05 19:51:48.119000+00:00,5660,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Belgium/ShipCity=Bruxelles/part-00180-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000180_1465.c000.snappy.parquet
5,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Belgium/ShipCity=Charleroi/part-00006-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195142_0129_m_000006_1412.c000.snappy.parquet,2020-10-05 19:51:43.432000+00:00,5957,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Belgium/ShipCity=Charleroi/part-00006-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195142_0129_m_000006_1412.c000.snappy.parquet
6,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Brazil/ShipCity=Campinas/part-00069-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195145_0129_m_000069_1434.c000.snappy.parquet,2020-10-05 19:51:45.583000+00:00,5715,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Brazil/ShipCity=Campinas/part-00069-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195145_0129_m_000069_1434.c000.snappy.parquet
7,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Brazil/ShipCity=Resende/part-00042-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000042_1424.c000.snappy.parquet,2020-10-05 19:51:44.652000+00:00,5749,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Brazil/ShipCity=Resende/part-00042-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000042_1424.c000.snappy.parquet
8,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Brazil/ShipCity=Rio de Janeiro/part-00198-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195148_0129_m_000198_1475.c000.snappy.parquet,2020-10-05 19:51:48.362000+00:00,6877,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Brazil/ShipCity=Rio de Janeiro/part-00198-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195148_0129_m_000198_1475.c000.snappy.parquet
9,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Brazil/ShipCity=Sao Paulo/part-00102-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000102_1445.c000.snappy.parquet,2020-10-05 19:51:46.507000+00:00,6981,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Brazil/ShipCity=Sao Paulo/part-00102-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000102_1445.c000.snappy.parquet
10,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Canada/ShipCity=Montréal/part-00165-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000165_1460.c000.snappy.parquet,2020-10-05 19:51:47.477000+00:00,5945,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Canada/ShipCity=Montréal/part-00165-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000165_1460.c000.snappy.parquet
11,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Canada/ShipCity=Tsawassen/part-00139-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000139_1455.c000.snappy.parquet,2020-10-05 19:51:47.145000+00:00,5931,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Canada/ShipCity=Tsawassen/part-00139-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000139_1455.c000.snappy.parquet
12,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Canada/ShipCity=Vancouver/part-00098-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000098_1443.c000.snappy.parquet,2020-10-05 19:51:46.229000+00:00,5641,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Canada/ShipCity=Vancouver/part-00098-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000098_1443.c000.snappy.parquet
13,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Denmark/ShipCity=Kobenhavn/part-00186-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000186_1467.c000.snappy.parquet,2020-10-05 19:51:48.031000+00:00,5486,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Denmark/ShipCity=Kobenhavn/part-00186-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000186_1467.c000.snappy.parquet
14,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Denmark/ShipCity=Århus/part-00022-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195143_0129_m_000022_1417.c000.snappy.parquet,2020-10-05 19:51:43.646000+00:00,5637,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Denmark/ShipCity=Århus/part-00022-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195143_0129_m_000022_1417.c000.snappy.parquet
15,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Finland/ShipCity=Helsinki/part-00187-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000187_1470.c000.snappy.parquet,2020-10-05 19:51:48.123000+00:00,5625,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Finland/ShipCity=Helsinki/part-00187-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000187_1470.c000.snappy.parquet
16,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Finland/ShipCity=Oulu/part-00054-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000054_1428.c000.snappy.parquet,2020-10-05 19:51:44.937000+00:00,5790,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Finland/ShipCity=Oulu/part-00054-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000054_1428.c000.snappy.parquet
17,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Lille/part-00174-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000174_1463.c000.snappy.parquet,2020-10-05 19:51:47.664000+00:00,5678,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Lille/part-00174-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000174_1463.c000.snappy.parquet
18,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Lyon/part-00139-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000139_1455.c000.snappy.parquet,2020-10-05 19:51:47.238000+00:00,5743,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Lyon/part-00139-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000139_1455.c000.snappy.parquet
19,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Marseille/part-00149-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000149_1456.c000.snappy.parquet,2020-10-05 19:51:47.176000+00:00,5807,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Marseille/part-00149-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000149_1456.c000.snappy.parquet
20,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Nantes/part-00056-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000056_1429.c000.snappy.parquet,2020-10-05 19:51:45.040000+00:00,5831,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Nantes/part-00056-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000056_1429.c000.snappy.parquet
21,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Paris/part-00166-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000166_1461.c000.snappy.parquet,2020-10-05 19:51:47.585000+00:00,5622,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Paris/part-00166-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000166_1461.c000.snappy.parquet
22,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Reims/part-00162-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000162_1459.c000.snappy.parquet,2020-10-05 19:51:47.479000+00:00,5668,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Reims/part-00162-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195147_0129_m_000162_1459.c000.snappy.parquet
23,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Strasbourg/part-00105-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000105_1446.c000.snappy.parquet,2020-10-05 19:51:46.632000+00:00,5888,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Strasbourg/part-00105-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000105_1446.c000.snappy.parquet
24,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Toulouse/part-00108-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000108_1447.c000.snappy.parquet,2020-10-05 19:51:46.505000+00:00,5837,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Toulouse/part-00108-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000108_1447.c000.snappy.parquet
25,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Versailles/part-00044-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000044_1425.c000.snappy.parquet,2020-10-05 19:51:44.780000+00:00,5629,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=France/ShipCity=Versailles/part-00044-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000044_1425.c000.snappy.parquet
26,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Germany/ShipCity=Aachen/part-00116-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000116_1448.c000.snappy.parquet,2020-10-05 19:51:46.626000+00:00,5634,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Germany/ShipCity=Aachen/part-00116-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000116_1448.c000.snappy.parquet
27,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Germany/ShipCity=Berlin/part-00130-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000130_1452.c000.snappy.parquet,2020-10-05 19:51:46.956000+00:00,5622,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Germany/ShipCity=Berlin/part-00130-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195146_0129_m_000130_1452.c000.snappy.parquet
28,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Germany/ShipCity=Brandenburg/part-00192-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195148_0129_m_000192_1472.c000.snappy.parquet,2020-10-05 19:51:48.206000+00:00,5823,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Germany/ShipCity=Brandenburg/part-00192-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195148_0129_m_000192_1472.c000.snappy.parquet
29,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Germany/ShipCity=Cunewalde/part-00036-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000036_1422.c000.snappy.parquet,2020-10-05 19:51:44.466000+00:00,6212,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Germany/ShipCity=Cunewalde/part-00036-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000036_1422.c000.snappy.parquet
...,...,...,...,...,...,...
42,s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Norway/ShipCity=Stavern/part-00051-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000051_1427.c000.snappy.parquet,2020-10-05 19:51:44.845000+00:00,5585,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816/ShipCountry=Norway/ShipCity=Stavern/part-00051-a9f55e31-62cf-4d55-8ef7-579df911cbb3-attempt_20201005195144_0129_m_000051_1427.c000.snappy.parquet

Now let's take a look at the result data with the `get_result()` method. Note that the result dataframe contains the two partitioning columns. The values for these have been put together by get_result() from the object names above because in hive style partitioning the partition column values are not stored in the objects but rather in the object names.

In [19]:
sqlClient.get_result(jobId).head(100)

,OrderID,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,...,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipRegion,ShipPostalCode,ShipCountry,ShipCity
0,10409,OCEAN,Océano Atlántico Ltda.,Yvonne Moncada,Sales Agent,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,NULL,1010,Argentina,...,1997-02-06 06:00:00,1997-01-14 00:00:00.000,1,29.83,Océano Atlántico Ltda.,Ing. Gustavo Moncada 8585 Piso 20-A,NULL,1010,Argentina,Buenos Aires
1,10448,RANCH,Rancho grande,Sergio Gutiérrez,Sales Representative,Av. del Libertador 900,Buenos Aires,NULL,1010,Argentina,...,1997-03-17 06:00:00,1997-02-24 00:00:00.000,2,38.82,Rancho grande,Av. del Libertador 900,NULL,1010,Argentina,Buenos Aires
2,10521,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,NULL,1010,Argentina,...,1997-05-27 05:00:00,1997-05-02 00:00:00.000,2,17.22,Cactus Comidas para llevar,Cerrito 333,NULL,1010,Argentina,Buenos Aires
3,10531,OCEAN,Océano Atlántico Ltda.,Yvonne Moncada,Sales Agent,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,NULL,1010,Argentina,...,1997-06-05 05:00:00,1997-05-19 00:00:00.000,1,8.12,Océano Atlántico Ltda.,Ing. Gustavo Moncada 8585 Piso 20-A,NULL,1010,Argentina,Buenos Aires
4,10716,RANCH,Rancho grande,Sergio Gutiérrez,Sales Representative,Av. del Libertador 900,Buenos Aires,NULL,1010,Argentina,...,1997-11-21 06:00:00,1997-10-27 00:00:00.000,2,22.57,Rancho grande,Av. del Libertador 900,NULL,1010,Argentina,Buenos Aires
5,10782,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,NULL,1010,Argentina,...,1998-01-14 06:00:00,1997-12-22 00:00:00.000,3,1.10,Cactus Comidas para llevar,Cerrito 333,NULL,1010,Argentina,Buenos Aires
6,10819,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,NULL,1010,Argentina,...,1998-02-04 06:00:00,1998-01-16 00:00:00.000,3,19.76,Cactus Comidas para llevar,Cerrito 333,NULL,1010,Argentina,Buenos Aires
7,10828,RANCH,Rancho grande,Sergio Gutiérrez,Sales Representative,Av. del Libertador 900,Buenos Aires,NULL,1010,Argentina,...,1998-01-27 06:00:00,1998-02-04 00:00:00.000,1,90.85,Rancho grande,Av. del Libertador 900,NULL,1010,Argentina,Buenos Aires
8,10881,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,NULL,1010,Argentina,...,1998-03-11 06:00:00,1998-02-18 00:00:00.000,1,2.84,Cactus Comidas para llevar,Cerrito 333,NULL,1010,Argentina,Buenos Aires
9,10898,OCEAN,Océano Atlántico Ltda.,Yvonne Moncada,Sales Agent,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,NULL,1010,Argentina,...,1998-03-20 06:00:00,1998-03-06 00:00:00.000,2,1.27,Océano Atlántico Ltda.,Ing. Gustavo Moncada 8585 Piso 20-A,NULL,1010,Argentina,Buenos Aires
10,10916,RANCH,Rancho grande,Sergio Gutiérrez,Sales Representative,Av. del Libertador 900,Buenos Aires,NULL,1010,Argentina,...,1998-03-27 06:00:00,1998-03-09 00:00:00.000,2,63.77,Rancho grande,Av. del Libertador 900,NULL,1010,Argentina,Buenos Aires
11,10937,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,NULL,1010,Argentina,...,1998-03-24 06:00:00,1998-03-13 00:00:00.000,3,31.51,Cactus Comidas para llevar,Cerrito 333,NULL,1010,Argentina,Buenos Aires
12,10958,OCEAN,Océano Atlántico Ltda.,Yvonne Moncada,Sales Agent,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,NULL,1010,Argentina,...,1998-04-15 05:00:00,1998-03-27 00:00:00.000,2,49.56,Océano Atlántico Ltda.,Ing. Gustavo Moncada 8585 Piso 20-A,NULL,1010,Argentina,Buenos Aires
13,10986,OCEAN,Océano Atlántico Ltda.,Yvonne Moncada,Sales Agent,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,NULL,1010,Argentina,...,1998-04-27 05:00:00,1998-04-21 00:00:00.000,2,217.86,Océano Atlántico Ltda.,Ing. Gustavo Moncada 8585 Piso 20-A,NULL,1010,Argentina,Buenos Aires
14,11019,RANCH,Rancho grande,Sergio Gutiérrez,Sales Representative,Av. del Libertador 900,Buenos Aires,NULL,1010,Argentina,...,1998-05-11 05:00:00,NULL,3,3.17,Rancho grande,Av. del Libertador 900,NULL,1010,Argentina,Buenos Aires
15,11054,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,NULL,1010,Argentina,...,1998-05-26 05:00:00,NULL,1,0.33,Cactus Comidas para llevar,Cerrito 333,NULL,1010,Argentina,Buenos Aires
0,10258,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1996-08-14 05:00:00,1996-07-23 00:00:00.000,1,140.51,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
1,10263,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1996-08-20 05:00:00,1996-07-31 00:00:00.000,3,146.06,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
2,10351,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1996-12-09 06:00:00,1996-11-20 00:00:00.000,1,162.33,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
3,10368,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1996-12-27 06:00:00,1996-12-02 00:00:00.000,2,101.95,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
4,10382,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1997-01-10 06:00:00,1996-12-16 00:00:00.000,1,94.77,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
5,10390,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1997-01-20 06:00:00,1996-12-26 00:00:00.000,1,126.38,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
6,10402,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1997-02-13 06:00:00,1997-01-10 00:00:00.000,2,67.88,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
7,10403,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1997-01-31 06:00:00,1997-01-09 00:00:00.000,3,73.79,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
8,10430,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1997-02-13 06:00:00,1997-02-03 00:00:00.000,1,458.78,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
9,10442,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1997-03-11 06:00:00,1997-02-18 00:00:00.000,2,47.94,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
10,10514,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1997-05-20 05:00:00,1997-05-16 00:00:00.000,2,789.95,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
11,10571,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1997-07-29 05:00:00,1997-07-04 00:00:00.000,3,26.06,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
12,10595,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1997-08-07 05:00:00,1997-07-14 00:00:00.000,1,96.78,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
13,10633,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NULL,8010,Austria,...,1997-09-12 05:00:00,1997-08-18 00:00:00.000,3,477.90,Ernst Handel,Kirchgasse 6,NULL,8010,Austria,Graz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,10846,SUPRD,Suprêmes délices,Pascale Cartrain,Accounting Manager,Boulevard Tirou 255,Charleroi,NULL,B-6000,Belgium,...,1998-03-05 06:00:00,1998-01-23 00:00:00.000,3,56.46,Suprêmes délices,Boulevard Tirou 255,NULL,B-6000,Belgium,Charleroi
8,10885,SUPRD,Suprêmes délices,Pascale Cartrain,Accounting Manager,Boulevard Tirou 255,Charleroi,NULL,B-6000,Belgium,...,1998-03-12 06:00:00,1998-02-18 00:00:00.000,3,5.64,Suprêmes délices,Boulevard Tirou 255,NULL,B-6000,Belgium,Charleroi
9,10930,SUPRD,Suprêmes délices,Pascale Cartrain,Accounting Manager,Boulevard Tirou 255,Charleroi,NULL,B-6000,Belgium,...,1998-04-17 05:00:00,1998-03-18 00:00:00.000,3,15.55,Suprêmes délices,Boulevard Tirou 255,NULL,B-6000,Belgium,Charleroi
10,11035,SUPRD,Suprêmes délices,Pascale Cartrain,Accounting Manager,Boulevard Tirou 255,Charleroi,NULL,B-6000,Belgium,...,1998-05-18 05:00:00,1998-04-24 00:00:00.000,2,0.17,Suprêmes délices,Boulevard Tirou 255,NULL,B-6000,Belgium,Charleroi
11,11038,SUPRD,Suprêmes délices,Pascale Cartrain,Accounting Manager,Boulevard Tirou 255,Charleroi,NULL,B-6000,Belgium,...,1998-05-19 05:00:00,1998-04-30 00:00:00.000,2,29.59,Suprêmes délices,Boulevard Tirou 255,NULL,B-6000,Belgium,Charleroi
0,10423,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,Av. Brasil 442,Campinas,SP,04876-786,Brazil,...,1997-02-06 06:00:00,1997-02-24 00:00:00.000,3,24.50,Gourmet Lanchonetes,Av. Brasil 442,SP,04876-786,Brazil,Campinas
1,10652,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,Av. Brasil 442,Campinas,SP,04876-786,Brazil,...,1997-09-29 05:00:00,1997-09-08 00:00:00.000,2,7.14,Gourmet Lanchonetes,Av. Brasil 442,SP,04876-786,Brazil,Campinas
2,10685,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,Av. Brasil 442,Campinas,SP,04876-786,Brazil,...,1997-10-13 05:00:00,1997-10-03 00:00:00.000,2,33.75,Gourmet Lanchonetes,Av. Brasil 442,SP,04876-786,Brazil,Campinas
3,10709,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,Av. Brasil 442,Campinas,SP,04876-786,Brazil,...,1997-11-14 06:00:00,1997-11-20 00:00:00.000,3,210.80,Gourmet Lanchonetes,Av. Brasil 442,SP,04876-786,Brazil,Campinas
4,10734,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,Av. Brasil 442,Campinas,SP,04876-786,Brazil,...,1997-12-05 06:00:00,1997-11-12 00:00:00.000,3,1.63,Gourmet Lanchonetes,Av. Brasil 442,SP,04876-786,Brazil,Campinas
5,10777,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,Av. Brasil 442,Campinas,SP,04876-786,Brazil,...,1997-12-29 06:00:00,1998-01-21 00:00:00.000,2,3.01,Gourmet Lanchonetes,Av. Brasil 442,SP,04876-786,Brazil,Campinas
6,10790,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,Av. Brasil 442,Campinas,SP,04876-786,Brazil,...,1998-01-19 06:00:00,1997-12-26 00:00:00.000,1,28.23,Gourmet Lanchonetes,Av. Brasil 442,SP,04876-786,Brazil,Campinas
7,10959,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,Av. Brasil 442,Campinas,SP,04876-786,Brazil,...,1998-04-29 05:00:00,1998-03-23 00:00:00.000,2,4.98,Gourmet Lanchonetes,Av. Brasil 442,SP,04876-786,Brazil,Campinas
8,11049,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,Av. Brasil 442,Campinas,SP,04876-786,Brazil,...,1998-05-22 05:00:00,1998-05-04 00:00:00.000,1,8.34,Gourmet Lanchonetes,Av. Brasil 442,SP,04876-786,Brazil,Campinas
0,10256,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Rua do Mercado 12,Resende,SP,08737-363,Brazil,...,1996-08-12 05:00:00,1996-07-17 00:00:00.000,2,13.97,Wellington Importadora,Rua do Mercado 12,SP,08737-363,Brazil,Resende
1,10420,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Rua do Mercado 12,Resende,SP,08737-363,Brazil,...,1997-02-18 06:00:00,1997-01-27 00:00:00.000,1,44.12,Wellington Importadora,Rua do Mercado 12,SP,08737-363,Brazil,Resende
2,10585,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Rua do Mercado 12,Resende,SP,08737-363,Brazil,...,1997-07-29 05:00:00,1997-07-10 00:00:00.000,1,13.41,Wellington Importadora,Rua do Mercado 12,SP,08737-363,Brazil,Resende
3,10644,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Rua do Mercado 12,Resende,SP,08737-363,Brazil,...,1997-09-22 05:00:00,1997-09-01 00:00:00.000,2,0.14,Wellington Importadora,Rua do Mercado 12,SP,08737-363,Brazil,Resende
4,10803,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Rua do Mercado 12,Resende,SP,08737-363,Brazil,...,1998-01-27 06:00:00,1998-01-06 00:00:00.000,1,55.23,Wellington Importadora,Rua do Mercado 12,SP,08737-363,Brazil,Resende
5,10809,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Rua do Mercado 12,Resende,SP,08737-363,Brazil,...,1998-01-29 06:00:00,1998-01-07 00:00:00.000,1,4.87,Wellington Importadora,Rua do Mercado 12,SP,08737-363,Brazil,Resende
6,10900,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Rua do Mercado 12,Resende,SP,08737-363,Brazil,...,1998-03-20 06:00:00,1998-03-04 00:00:00.000,2,1.66,Wellington Importadora,Rua do Mercado 12,SP,08737-363,Brazil,Resende
7,10905,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Rua do Mercado 12,Resende,SP,08737-363,Brazil,...,1998-03-24 06:00:00,1998-03-06 00:00:00.000,2,13.72,Wellington Importadora,Rua do Mercado 12,SP,08737-363,Brazil,Resende
8,10935,WELLI,Wellington Importadora,Paula Parente,Sales Manager,Rua do Mercado 12,Resende,SP,08737-363,Brazil,...,1998-04-06 05:00:00,1998-03-18 00:00:00.000,3,47.59,Wellington Importadora,Rua do Mercado 12,SP,08737-363,Brazil,Resende
0,10250,HANAR,Hanari Carnes,Mario Pontes,Accounting Manager,Rua do Paço 67,Rio de Janeiro,RJ,05454-876,Brazil,...,1996-08-05 05:00:00,1996-07-12 00:00:00.000,2,65.83,Hanari Carnes,Rua do Paço 67,RJ,05454-876,Brazil,Rio de Janeiro
1,10253,HANAR,Hanari Carnes,Mario Pontes,Accounting Manager,Rua do Paço 67,Rio de Janeiro,RJ,05454-876,Brazil,...,1996-07-24 05:00:00,1996-07-16 00:00:00.000,2,58.17,Hanari Carnes,Rua do Paço 67,RJ,05454-876,Brazil,Rio de Janeiro
2,10261,QUEDE,Que Delícia,Bernardo Batista,Accounting Manager,Rua da Panificadora,12Rio de Janeiro,RJ,02389-673,Brazil,...,1996-08-16 05:00:00,1996-07-30 00:00:00.000,2,3.05,Que Delícia,Rua da Panificadora 12,RJ,02389-673,Brazil,Rio de Janeiro
3,10287,RICAR,Ricardo Adocicados,Janete Limeira,Assistant Sales Agent,Av. Copacabana 267,Rio de Janeiro,RJ,02389-890,Brazil,...,1996-09-19 05:00:00,1996-08-28 00:00:00.000,3,12.76,Ricardo Adocicados,Av. Copacabana 267,RJ,02389-890,Brazil,Rio de Janeiro
4,10291,QUEDE,Que Delícia,Bernardo Batista,Accounting Manager,Rua da Panificadora,12Rio de Janeiro,RJ,02389-673,Brazil,...,1996-09-24 05:00:00,1996-09-04 00:00:00.000,2,6.40,Que Delícia,Rua da Panificadora 12,RJ,02389-673,Brazil,Rio de Janeiro
5,10299,RICAR,Ricardo Adocicados,Janete Limeira,Assistant Sales Agent,Av. Copacabana 267,Rio de Janeiro,RJ,02389-890,Brazil,...,1996-10-04 05:00:00,1996-09-13 00:00:00.000,2,29.76,Ricardo Adocicados,Av. Copacabana 267,RJ,02389-890,Brazil,Rio de Janeiro
6,10379,QUEDE,Que Delícia,Bernardo Batista,Accounting Manager,Rua da Panificadora,12Rio de Janeiro,RJ,02389-673,Brazil,...,1997-01-08 06:00:00,1996-12-13 00:00:00.000,1,45.03,Que Delícia,Rua da Panificadora 12,RJ,02389-673,Brazil,Rio de Janeiro

The following cell runs a new **optimized SQL** query against the **partitioned data** that has been produced by the previous ETL SQL statement. The query uses `WHERE` predicates on the columns that have been used to partition the results in the ETL job. The query will physically only read the objects that match these predicate values.

In [20]:
optimized_sql='SELECT * FROM {} STORED AS PARQUET WHERE ShipCountry = "Austria" AND ShipCity="Graz" \
               INTO {} STORED AS PARQUET'.format(resultset_location, targeturl)
formatted_optimized_sql = sqlparse.format(optimized_sql, reindent=True, indent_tabs=True, keyword_case='upper')
result = highlight(formatted_optimized_sql, lexer, formatter)
print('\nRunning SQL against the previously produced hive style partitioned objects as input:\n')
print(result)

jobId = sqlClient.submit_sql(optimized_sql)
job_status = sqlClient.wait_for_job(jobId)
print("Job " + jobId + " terminated with status: " + job_status)
job_details = sqlClient.get_job(jobId)
if job_status == 'failed':
    print("Error: {}\nError Message: {}".format(job_details['error'], job_details['error_message']))

Running SQL against the previously produced hive style partitioned objects as input:

SELECT *
FROM cos://s3.us-south.cloud-OBJECT-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-OBJECT-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816 STORED AS PARQUET
WHERE ShipCountry = "Austria"
		AND ShipCity="Graz" INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-OBJECT-storage.appdomain.cloud STORED AS PARQUET

Job d17b0e3d-0894-4bc2-8c20-06ad6fda20c2 terminated with status: completed

The following cell uses the `get_job()` method in order to show the job details of the just run optimized SQL that leverages hive style partitioning. Note the **bytes_read** value that is significantly lower than the **total_volume** value of the data in the queries data set. This does increase query performance and lower the query cost.

In [21]:
sqlClient.get_job(jobId)

{'job_id': 'd17b0e3d-0894-4bc2-8c20-06ad6fda20c2',
 'status': 'completed',
 'statement': 'SELECT * FROM cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816 STORED AS PARQUET WHERE ShipCountry = "Austria" AND ShipCity="Graz"                INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS PARQUET',
 'plan_id': 'ead0f7f5-0c96-40c0-9aae-63c4846d8188',
 'submit_time': '2020-10-05T19:52:14.095Z',
 'resultset_location': 'cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=d17b0e3d-0894-4bc2-8c20-06ad6fda20c2',
 'rows_returned': 30,
 'rows_read': 30,
 'bytes_read': 6090,
 'resultset_format': 'parquet',
 'end_time': '2020-10-05T19:52:19.667Z',
 'user_id': 'ashley.zhao@ibm.com'}

### <a id="pagination"></a> 6. Paginated SQL Results
The next cell runs a simple join SQL. But this time `submit_sql()` is provided the optional **`pagesize`** parameter with a value of **`10`**. This results in multiple objects being written with each having 10 rows of the result in it. Internally this is achieved by using the SQL Query syntax clause of `PARTITIONED EVERY <num> ROWS`. This also means that your query cannot already contain another `PARTITIONED BY` clause.

In [22]:
pagination_sql='SELECT OrderID, c.CustomerID CustomerID, CompanyName, City, Region, PostalCode \
                FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, \
                     cos://us-geo/sql/customers.parquet STORED AS PARQUET c \
                WHERE c.CustomerID = o.CustomerID \
                INTO {}paginated_orders STORED AS PARQUET'.format(targeturl)
formatted_etl_sql = sqlparse.format(etl_sql, reindent=True, indent_tabs=True, keyword_case='upper')
result = highlight(formatted_etl_sql, lexer, formatter)
print('\nExample ETL Statement is:\n')
print(result)

jobId = sqlClient.submit_sql(pagination_sql, pagesize=10)
job_status = sqlClient.wait_for_job(jobId)
print("Job " + jobId + " terminated with status: " + job_status)
job_details = sqlClient.get_job(jobId)
if job_status == 'failed':
    print("Error: {}\nError Message: {}".format(job_details['error'], job_details['error_message']))

Example ETL Statement is:

SELECT OrderID,
	c.CustomerID CustomerID,
	CompanyName,
	ContactName,
	ContactTitle,
	Address,
	City,
	Region,
	PostalCode,
	Country,
	Phone,
	Fax EmployeeID,
	OrderDate,
	RequiredDate,
	ShippedDate,
	ShipVia,
	Freight,
	ShipName,
	ShipAddress,
	ShipCity,
	ShipRegion,
	ShipPostalCode,
	ShipCountry
FROM cos://us-geo/SQL/orders.parquet STORED AS PARQUET o,
	cos://us-geo/SQL/customers.parquet STORED AS PARQUET c
WHERE c.CustomerID = o.CustomerID INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-OBJECT-storage.appdomain.cloudcustomer_orders STORED AS PARQUET PARTITIONED BY (ShipCountry,
																																																																																																																																																																										ShipCity)

Job 986bf4b1-54e9-4097-9719-3cd4f3882ad5 terminated with status: completed

Let's check how many pages with each 10 rows have been written:

In [23]:
print("Number of pages written by job {}: {}".format(jobId, len(sqlClient.list_results(jobId))))

Number of pages written by job 986bf4b1-54e9-4097-9719-3cd4f3882ad5: 85

The following cell retrieves the first page of the result as a data frame. The desired page is specified as the optional parameter **`pagenumber`** to the `get_result()` method.

In [24]:
pagenumber=1
sqlClient.get_result(jobId, pagenumber=pagenumber).head(100)

,OrderID,CustomerID,CompanyName,City,Region,PostalCode
0,11011,ALFKI,Alfreds Futterkiste,Berlin,NULL,12209
1,10952,ALFKI,Alfreds Futterkiste,Berlin,NULL,12209
2,10835,ALFKI,Alfreds Futterkiste,Berlin,NULL,12209
3,10702,ALFKI,Alfreds Futterkiste,Berlin,NULL,12209
4,10692,ALFKI,Alfreds Futterkiste,Berlin,NULL,12209
5,10643,ALFKI,Alfreds Futterkiste,Berlin,NULL,12209
6,10926,ANATR,Ana Trujillo Emparedados y helados,México D.F.,NULL,05021
7,10759,ANATR,Ana Trujillo Emparedados y helados,México D.F.,NULL,05021
8,10625,ANATR,Ana Trujillo Emparedados y helados,México D.F.,NULL,05021
9,10308,ANATR,Ana Trujillo Emparedados y helados,México D.F.,NULL,05021

The following cell gets the next page. Run it multiple times in order to retrieve the subsequent pages, one page after the another.

In [25]:
pagenumber+=1
sqlClient.get_result(jobId, pagenumber).head(100)

   OrderID CustomerID              CompanyName         City Region PostalCode
0  10856    ANTON      Antonio Moreno Taquería  México D.F.  NULL   05023
1  10682    ANTON      Antonio Moreno Taquería  México D.F.  NULL   05023
2  10677    ANTON      Antonio Moreno Taquería  México D.F.  NULL   05023
3  10573    ANTON      Antonio Moreno Taquería  México D.F.  NULL   05023
4  10535    ANTON      Antonio Moreno Taquería  México D.F.  NULL   05023
5  10507    ANTON      Antonio Moreno Taquería  México D.F.  NULL   05023
6  10365    ANTON      Antonio Moreno Taquería  México D.F.  NULL   05023
7  11016    AROUT      Around the Horn          London       NULL   WA1 1DP
8  10953    AROUT      Around the Horn          London       NULL   WA1 1DP
9  10920    AROUT      Around the Horn          London       NULL   WA1 1DP

### <a id="results"></a> 7. Working with SQL result objects
This section shows some useful methods to work with result objects of SQLs. The following cell runs a simple SQL that produces a single partitioned parquet result:

In [26]:
sql="SELECT * FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET LIMIT 100 INTO {}first100orders.parquet JOBPREFIX NONE STORED AS PARQUET".format(targeturl)
jobId = sqlClient.submit_sql(sql)
sqlClient.wait_for_job(jobId)

'completed'

The next cell lists the result objects produced by the simple SQL job using the method `list_results()`:

In [27]:
sqlClient.list_results(jobId).head(100)

,Object,LastModified,Size,StorageClass,Bucket,ObjectURL
0,s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet,2020-10-05 19:52:44.821000+00:00,0,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet
1,s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet/_SUCCESS,2020-10-05 19:52:46.458000+00:00,0,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet/_SUCCESS
2,s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet/part-00000-a78a4b33-dcb2-4cd7-b674-10d045fd6293-c000-attempt_20201005195245_0013_m_000000_19.snappy.parquet,2020-10-05 19:52:46.306000+00:00,10271,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet/part-00000-a78a4b33-dcb2-4cd7-b674-10d045fd6293-c000-attempt_20201005195245_0013_m_000000_19.snappy.parquet

As can be seen the SQL job always produces a logical hierarchy of object names. The path specified in the URI of the `INTO` clause above is used as a logical root "folder", which is nothing else than an empty object. It will normally include a suffix containing the unique jobId that produced this result. But because the queryabove used the optional clause `JOBPREFIX NONE` this suffix is ommitted, which means each time the same targer path will be used with that clause the previous list of objects in that logical folder will be overwritten.

#### Exact target result
If the result of the SQL job was not written in a partitioned way, you can now optionally restructure the objects to a single object with the exact name that was specified in the `INTO` clause of the SQL job. Thisis achieved with the method `rename_exact_result()`:

In [28]:
sqlClient.rename_exact_result(jobId)
sqlClient.list_results(jobId).head(100)

,Object,LastModified,Size,StorageClass,Bucket,ObjectURL
0,s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet,2020-10-05 19:52:51.294000+00:00,10271,STANDARD,cos-standard-6il,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet

As can be seen the result of the previous SQL is now exactly one object with the exact name from the path of the `INTO` clause.

### <a id="joblist"></a> 8. Working with your SQL Job Submission History
The following cell uses the `get_cos_summary()` method to get a statistical overview of the data in the **target location** in COS that has been used by the above queries in this notebook.

In [29]:
sqlClient.get_cos_summary(targeturl)

{'url': 'cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/',
 'total_objects': 100,
 'total_volume': '23.4 MB',
 'oldest_object_timestamp': 'November 26, 2019, 03H:30M:47S',
 'newest_object_timestamp': 'October 05, 2020, 19H:52M:18S',
 'smallest_object_size': '0.0 B',
 'smallest_object': 's3.us-south.cloud-object-storage.appdomain.cloud/jobid=034070c9-5d06-431d-afec-6be1a61809e4',
 'largest_object_size': '5.4 MB',
 'largest_object': 's3.us-south.cloud-object-storage.appdomain.cloud/jobid=241ded35-a36b-40a7-a3ee-90681ea0a5cb/part-00000-8117c764-e8a6-47b3-8da5-bc7cf0399b87-c000-attempt_20191128211109_0050_m_000000_0.json'}

The method `get_jobs()` provides you a dataframe with the **30 most recent SQL submissions** with all details. You can change the value `-1`for `display.max_colwidth` to a positive integer if you want to truncate the cell content to shrink the overall table display size.

In [30]:
pd.set_option('display.max_colwidth', -1)
job_history_df = sqlClient.get_jobs()
job_history_df.head(100)

,job_id,status,user_id,statement,resultset_location,submit_time,end_time,rows_read,rows_returned,bytes_read,objects_skipped,objects_qualified,error,error_message
0,62776875-91f0-43fc-a561-7a20c3c4b5c8,completed,ashley.zhao@ibm.com,SELECT * FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET LIMIT 100 INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet JOBPREFIX NONE STORED AS PARQUET,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet,2020-10-05T19:52:41.287Z,2020-10-05T19:52:48.154Z,830,100,30606,None,None,,
1,986bf4b1-54e9-4097-9719-3cd4f3882ad5,completed,ashley.zhao@ibm.com,"SELECT OrderID, c.CustomerID CustomerID, CompanyName, City, Region, PostalCode FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE c.CustomerID = o.CustomerID INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudpaginated_orders STORED AS PARQUET PARTITIONED EVERY 10 ROWS",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudpaginated_orders/jobid=986bf4b1-54e9-4097-9719-3cd4f3882ad5,2020-10-05T19:52:21.619Z,2020-10-05T19:52:38.156Z,921,830,17111,None,None,,
2,d17b0e3d-0894-4bc2-8c20-06ad6fda20c2,completed,ashley.zhao@ibm.com,"SELECT * FROM cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816 STORED AS PARQUET WHERE ShipCountry = ""Austria"" AND ShipCity=""Graz"" INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS PARQUET",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=d17b0e3d-0894-4bc2-8c20-06ad6fda20c2,2020-10-05T19:52:14.095Z,2020-10-05T19:52:19.667Z,30,30,6090,None,None,,
3,911ba35e-f979-48a8-99fa-40d7a9c7d816,completed,ashley.zhao@ibm.com,"SELECT OrderID, c.CustomerID CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE c.CustomerID = o.CustomerID INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders STORED AS PARQUET PARTITIONED BY (ShipCountry, ShipCity)",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=911ba35e-f979-48a8-99fa-40d7a9c7d816,2020-10-05T19:51:38.318Z,2020-10-05T19:52:04.791Z,921,830,43058,None,None,,
4,16503ee4-a074-4b15-b558-b11513ceabd9,completed,ashley.zhao@ibm.com,"SELECT o.OrderID, c.CompanyName, e.FirstName, e.LastName FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/employees.parquet STORED AS PARQUET e, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE e.EmployeeID = o.EmployeeID AND c.CustomerID = o.CustomerID AND o.ShippedDate > o.RequiredDate AND o.OrderDate > ""1998-01-01"" ORDER BY c.CompanyName INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS CSV",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=16503ee4-a074-4b15-b558-b11513ceabd9,2020-10-05T19:51:25.248Z,2020-10-05T19:51:34.918Z,1760,29,41499,None,None,,
5,26b82547-ddaa-4853-80ff-d34f053f8fcf,completed,ashley.zhao@ibm.com,"SELECT o.OrderID, c.CompanyName, e.FirstName, e.LastName FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/employees.parquet STORED AS PARQUET e, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE e.EmployeeID = o.EmployeeID AND c.CustomerID = o.CustomerID AND o.ShippedDate > o.RequiredDate AND o.OrderDate > ""1998-01-01"" ORDER BY c.CompanyName INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS CSV",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=26b82547-ddaa-4853-80ff-d34f053f8fcf,2020-10-05T19:51:08.221Z,2020-10-05T19:51:22.582Z,1760,29,41499,None,None,,
6,3a9e4a81-99f5-4e4b-94b5-b5a4ba2e6cc0,completed,ashley.zhao@ibm.com,"select 'Before Disruption' as period\n ,s.supplierID, s.companyName as supplier_company_name, s.region as supplier_region\n ,p.productID, p.productName\n\t ,o.orderID\n\t ,c.customerID, c.companyName as customer_company_name, c.region as customer_region, c.country as customer_country\n from cos://us-geo/sql/suppliers.parquet stored as parquet s, \n cos://us-geo/sql/products.parquet stored as parquet p,\n cos://us-geo/sql/order_details.parquet stored as parquet od,\n cos://us-geo/sql/orders.parquet stored as parquet o,\n cos://us-geo/sql/customers.parquet stored as parquet c\n where s.supplierID = p.supplierID \n\t and p.productID = od.productID\n and od.orderID = o.orderID \n and o.customerID = c.customerID\n and s.country='USA'\n\t \n\t UNION\n\t \n\t select 'After Disruption' as period\n\t ,s.supplierID, s.companyName as supplier_company_name, s.region as supplier_region\n ,p.productID, p.productName\n\t ,o.orderID\n\t ,c.customerID, c.companyName as customer_company_name, c.region as customer_region, c.country as customer_country\n from cos://us-geo/sql/suppliers.parquet stored as parquet s, \n cos://us-geo/sql/products.parquet stored as parquet p,\n cos://us-geo/sql/order_details.parquet stored as parquet od,\n cos://us-geo/sql/orders.parquet stored as parquet o,\n cos://us-geo/sql/customers.parquet stored as parquet c\n where s.supplierID = p.supplierID \n\t and p.productID = od.productID\n and od.orderID = o.orderID \n and o.customerID = c.customerID\n and s.country='USA' and s.region <> 'LA' INTO cos://us-geo/notebooks-donotdelete-pr-thri4xhqi5ofdi/ STORED AS CSV",cos://s3.us.cloud-object-storage.appdomain.cloud/notebooks-donotdelete-pr-thri4xhqi5ofdi/jobid=3a9e4a81-99f5-4e4b-94b5-b5a4ba2e6cc0,2020-10-05T19:16:02.984Z,2020-10-05T19:16:23.261Z,3288,484,45422,None,None,,
7,71f8291a-04f4-4392-abd2-b969cfd1d0c6,completed,ashley.zhao@ibm.com,"select 'Before Disruption' as period\n ,s.supplierID, s.companyName as supplier_company_name, s.region as supplier_region\n ,p.productID, p.productName\n\t ,o.orderID\n\t ,c.customerID, c.companyName as customer_company_name, c.region as customer_region, c.country as customer_country\n from cos://us-geo/sql/suppliers.parquet stored as parquet s, \n cos://us-geo/sql/products.parquet stored as parquet p,\n cos://us-geo/sql/order_details.parquet stored as parquet od,\n cos://us-geo/sql/orders.parquet stored as parquet o,\n cos://us-geo/sql/customers.parquet stored as parquet c\n where s.supplierID = p.supplierID \n\t and p.productID = od.productID\n and od.orderID = o.orderID \n and o.customerID = c.customerID\n and s.country='USA'\n\t \n\t UNION\n\t \n\t select 'After Disruption' as period\n\t ,s.supplierID, s.companyName as supplier_company_name, s.region as supplier_region\n ,p.productID, p.productName\n\t ,o.orderID\n\t ,c.customerID, c.companyName as customer_company_name, c.region as customer_region, c.country as customer_country\n from cos://us-geo/sql/suppliers.parquet stored as parquet s, \n cos://us-geo/sql/products.parquet stored as parquet p,\n cos://us-geo/sql/order_details.parquet stored as parquet od,\n cos://us-geo/sql/orders.parquet stored as parquet o,\n cos://us-geo/sql/customers.parquet stored as parquet c\n where s.supplierID = p.supplierID \n\t and p.productID = od.productID\n and od.orderID = o.orderID \n and o.customerID = c.customerID\n and s.country='USA' and s.region <> 'LA' INTO cos://us-geo/notebooks-donotdelete-pr-thri4xhqi5ofdi/ STORED AS CSV",cos://s3.us.cloud-object-storage.appdomain.cloud/notebooks-donotdelete-pr-thri4xhqi5ofdi/jobid=71f8291a-04f4-4392-abd2-b969cfd1d0c6,2020-07-15T18:05:51.874Z,2020-07-15T18:06:17.962Z,3288,484,45422,None,None,,
8,4b399f41-eab5-42d5-ace2-c8ee499042e9,completed,ashley.zhao@ibm.com,SELECT * FROM cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudmy_job_history/ STORED AS PARQUET INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS PARQUET,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=4b399f41-eab5-42d5-ace2-c8ee499042e9,2020-02-18T21:56:36.438Z,2020-02-18T21:56:57.719Z,37,37,34256,None,None,,
9,83dcc961-b070-4de7-b127-b45ed99b579d,completed,ashley.zhao@ibm.com,SELECT * FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET LIMIT 100 INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet JOBPREFIX NONE STORED AS PARQUET,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet,2020-02-18T21:56:01.024Z,2020-02-18T21:56:20.551Z,830,100,30606,None,None,,
10,673162dc-8804-422f-be84-2e3afed211bf,completed,ashley.zhao@ibm.com,"SELECT OrderID, c.CustomerID CustomerID, CompanyName, City, Region, PostalCode FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE c.CustomerID = o.CustomerID INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudpaginated_orders STORED AS PARQUET PARTITIONED EVERY 10 ROWS",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudpaginated_orders/jobid=673162dc-8804-422f-be84-2e3afed211bf,2020-02-18T21:55:25.805Z,2020-02-18T21:55:58.437Z,921,830,17111,None,None,,
11,054d1839-2d38-4998-9afe-b348908d5270,completed,ashley.zhao@ibm.com,"SELECT * FROM cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=f13c36f0-ba2a-44d1-8caa-2198508a5f78 STORED AS PARQUET WHERE ShipCountry = ""Austria"" AND ShipCity=""Graz"" INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS PARQUET",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=054d1839-2d38-4998-9afe-b348908d5270,2020-02-18T21:55:04.999Z,2020-02-18T21:55:24.212Z,30,30,6090,None,None,,
12,f13c36f0-ba2a-44d1-8caa-2198508a5f78,completed,ashley.zhao@ibm.com,"SELECT OrderID, c.CustomerID CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE c.CustomerID = o.CustomerID INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders STORED AS PARQUET PARTITIONED BY (ShipCountry, ShipCity)",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=f13c36f0-ba2a-44d1-8caa-2198508a5f78,2020-02-18T21:54:24.679Z,2020-02-18T21:54:56.665Z,921,830,43058,None,None,,
13,c603b324-f696-4276-8ac5-744343e18bc1,completed,ashley.zhao@ibm.com,"SELECT o.OrderID, c.CompanyName, e.FirstName, e.LastName FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/employees.parquet STORED AS PARQUET e, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE e.EmployeeID = o.EmployeeID AND c.CustomerID = o.CustomerID AND o.ShippedDate > o.RequiredDate AND o.OrderDate > ""1998-01-01"" ORDER BY c.CompanyName INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS CSV",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=c603b324-f696-4276-8ac5-744343e18bc1,2020-02-18T21:53:58.118Z,2020-02-18T21:54:21.569Z,1760,29,41499,None,None,,
14,2836b73b-7585-4e4a-9146-96d698741913,completed,ashley.zhao@ibm.com,"SELECT o.OrderID, c.CompanyName, e.FirstName, e.LastName FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/employees.parquet STORED AS PARQUET e, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE e.EmployeeID = o.EmployeeID AND c.CustomerID = o.CustomerID AND o.ShippedDate > o.RequiredDate AND o.OrderDate > ""1998-01-01"" ORDER BY c.CompanyName INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS CSV",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=2836b73b-7585-4e4a-9146-96d698741913,2020-02-18T21:53:33.907Z,2020-02-18T21:53:55.688Z,1760,29,41499,None,None,,
15,034070c9-5d06-431d-afec-6be1a61809e4,completed,ashley.zhao@ibm.com,SELECT * FROM cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudmy_job_history/ STORED AS PARQUET INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS PARQUET,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=034070c9-5d06-431d-afec-6be1a61809e4,2020-02-18T17:06:00.323Z,2020-02-18T17:06:21.360Z,30,30,20001,None,None,,
16,4b3ac0e4-4f1c-4fff-a8d7-46b6bdccbdb2,completed,ashley.zhao@ibm.com,SELECT * FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET LIMIT 100 INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet JOBPREFIX NONE STORED AS PARQUET,cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudfirst100orders.parquet,2020-02-18T17:05:22.306Z,2020-02-18T17:05:43.104Z,830,100,30606,None,None,,
17,fd2ff3aa-ddf6-4f65-b4cd-b33982a04112,completed,ashley.zhao@ibm.com,"SELECT OrderID, c.CustomerID CustomerID, CompanyName, City, Region, PostalCode FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE c.CustomerID = o.CustomerID INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudpaginated_orders STORED AS PARQUET PARTITIONED EVERY 10 ROWS",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudpaginated_orders/jobid=fd2ff3aa-ddf6-4f65-b4cd-b33982a04112,2020-02-18T17:04:49.466Z,2020-02-18T17:05:20.007Z,921,830,17111,None,None,,
18,567ee084-42b5-433c-98a4-5edf4a3f8a09,completed,ashley.zhao@ibm.com,"SELECT * FROM cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=84020ad7-7141-4710-9216-3c59454aee6e STORED AS PARQUET WHERE ShipCountry = ""Austria"" AND ShipCity=""Graz"" INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS PARQUET",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=567ee084-42b5-433c-98a4-5edf4a3f8a09,2020-02-18T17:04:28.673Z,2020-02-18T17:04:48.395Z,30,30,6090,None,None,,
19,84020ad7-7141-4710-9216-3c59454aee6e,completed,ashley.zhao@ibm.com,"SELECT OrderID, c.CustomerID CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE c.CustomerID = o.CustomerID INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders STORED AS PARQUET PARTITIONED BY (ShipCountry, ShipCity)",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloudcustomer_orders/jobid=84020ad7-7141-4710-9216-3c59454aee6e,2020-02-18T17:03:55.694Z,2020-02-18T17:04:20.774Z,921,830,43058,None,None,,
20,e96b4667-0c5f-476e-8d91-6f0cc63b7c6c,completed,ashley.zhao@ibm.com,"SELECT o.OrderID, c.CompanyName, e.FirstName, e.LastName FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/employees.parquet STORED AS PARQUET e, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE e.EmployeeID = o.EmployeeID AND c.CustomerID = o.CustomerID AND o.ShippedDate > o.RequiredDate AND o.OrderDate > ""1998-01-01"" ORDER BY c.CompanyName INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS CSV",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=e96b4667-0c5f-476e-8d91-6f0cc63b7c6c,2020-02-18T17:03:42.756Z,2020-02-18T17:03:53.183Z,1760,29,41499,None,None,,
21,6a743a0b-874b-4b59-8479-69a77af8332f,completed,ashley.zhao@ibm.com,"SELECT o.OrderID, c.CompanyName, e.FirstName, e.LastName FROM cos://us-geo/sql/orders.parquet STORED AS PARQUET o, cos://us-geo/sql/employees.parquet STORED AS PARQUET e, cos://us-geo/sql/customers.parquet STORED AS PARQUET c WHERE e.EmployeeID = o.EmployeeID AND c.CustomerID = o.CustomerID AND o.ShippedDate > o.RequiredDate AND o.OrderDate > ""1998-01-01"" ORDER BY c.CompanyName INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS CSV",cos://s3.us-south.cloud-object-storage.appdomain.cloud/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=6a743a0b-874b-4b59-8479-69a77af8332f,2020-02-18T17:03:23.016Z,2020-02-18T17:03:33.459Z,1760,29,41499,None,None,,
22,aa201750-5298-4bcf-8a01-2b3f4d4394d9,completed,ashley.zhao@ibm.com,"with da_ts_table as ( select _source.node as node, _source._status as status, time_series_da(_source._ts, array(_source._status, _source.request_time)) as ts from cos://us-geo/sql/LogDNA STORED AS JSON WHERE _source._app = 'nginx-ingress' AND _source._status IS NOT NULL AND _year = 2019 AND _dayofyear between 224 and 229 group by _source.node, _source._status ), error_ts_table as ( select node, status, ts_flatten(ts_segment_by_anchor(ts, ts_anchor_index(ts_anchor_gte(500.0), 0), 1800000, 1800000)) as (segment_id, segment_index, error_ts) from da_ts_table ) select node, status, segment_id, segment_index, ts_avg(ts_index(error_ts, 1)) as request_time, from_unixtime(segment_id / 1000, 'yyyy-MM-dd HH:mm:ss') AS datetime from error_ts_table INTO cos://us-south/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud STORED AS CSV",cos://s3.us-south.objectstorage.softlayer.net/cos-standard-6il/s3.us-south.cloud-object-storage.appdomain.cloud/jobid=aa201750-5298-4bcf-8a01-2b3f4d4394d9,2019-12-09T19:37:18.918Z,2019-12-09T19:38:35.738Z,120402,3827,106361661,None,None,,

In [31]:
sqlClient.export_job_history(targeturl + "my_job_history/")

Exported 9 new jobs

In [32]:
pd.set_option('display.max_colwidth', 20)
sql = "SELECT * FROM {}my_job_history/ STORED AS PARQUET INTO {} STORED AS PARQUET".format(targeturl, targeturl)
sqlClient.run_sql(sql)

,job_id,status,user_id,statement,resultset_location,submit_time,end_time,rows_read,rows_returned,bytes_read,error,error_message,__index_level_0__
0,62776875-91f0-43...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2020-10-05T19:52...,2020-10-05T19:52...,830.0,100.0,30606.0,,,NaN
1,986bf4b1-54e9-40...,completed,ashley.zhao@ibm.com,"SELECT OrderID, ...",cos://s3.us-sout...,2020-10-05T19:52...,2020-10-05T19:52...,921.0,830.0,17111.0,,,NaN
2,d17b0e3d-0894-4b...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2020-10-05T19:52...,2020-10-05T19:52...,30.0,30.0,6090.0,,,NaN
3,911ba35e-f979-48...,completed,ashley.zhao@ibm.com,"SELECT OrderID, ...",cos://s3.us-sout...,2020-10-05T19:51...,2020-10-05T19:52...,921.0,830.0,43058.0,,,NaN
4,16503ee4-a074-4b...,completed,ashley.zhao@ibm.com,SELECT o.OrderID...,cos://s3.us-sout...,2020-10-05T19:51...,2020-10-05T19:51...,1760.0,29.0,41499.0,,,NaN
5,26b82547-ddaa-48...,completed,ashley.zhao@ibm.com,SELECT o.OrderID...,cos://s3.us-sout...,2020-10-05T19:51...,2020-10-05T19:51...,1760.0,29.0,41499.0,,,NaN
6,3a9e4a81-99f5-4e...,completed,ashley.zhao@ibm.com,select 'Before D...,cos://s3.us.clou...,2020-10-05T19:16...,2020-10-05T19:16...,3288.0,484.0,45422.0,,,NaN
7,71f8291a-04f4-43...,completed,ashley.zhao@ibm.com,select 'Before D...,cos://s3.us.clou...,2020-07-15T18:05...,2020-07-15T18:06...,3288.0,484.0,45422.0,,,NaN
8,4b399f41-eab5-42...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2020-02-18T21:56...,2020-02-18T21:56...,37.0,37.0,34256.0,,,NaN
9,4b3ac0e4-4f1c-4f...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2020-02-18T17:05...,2020-02-18T17:05...,830.0,100.0,30606.0,None,None,0.0
10,fd2ff3aa-ddf6-4f...,completed,ashley.zhao@ibm.com,"SELECT OrderID, ...",cos://s3.us-sout...,2020-02-18T17:04...,2020-02-18T17:05...,921.0,830.0,17111.0,None,None,1.0
11,567ee084-42b5-43...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2020-02-18T17:04...,2020-02-18T17:04...,30.0,30.0,6090.0,None,None,2.0
12,84020ad7-7141-47...,completed,ashley.zhao@ibm.com,"SELECT OrderID, ...",cos://s3.us-sout...,2020-02-18T17:03...,2020-02-18T17:04...,921.0,830.0,43058.0,None,None,3.0
13,e96b4667-0c5f-47...,completed,ashley.zhao@ibm.com,SELECT o.OrderID...,cos://s3.us-sout...,2020-02-18T17:03...,2020-02-18T17:03...,1760.0,29.0,41499.0,None,None,4.0
14,6a743a0b-874b-4b...,completed,ashley.zhao@ibm.com,SELECT o.OrderID...,cos://s3.us-sout...,2020-02-18T17:03...,2020-02-18T17:03...,1760.0,29.0,41499.0,None,None,5.0
15,aa201750-5298-4b...,completed,ashley.zhao@ibm.com,with da_ts_table...,cos://s3.us-sout...,2019-12-09T19:37...,2019-12-09T19:38...,120402.0,3827.0,106361661.0,None,None,6.0
16,6101c002-6823-47...,completed,ashley.zhao@ibm.com,with da_ts_table...,cos://s3.us-sout...,2019-12-09T19:36...,2019-12-09T19:37...,120402.0,286.0,106361661.0,None,None,7.0
17,a4c6649f-246e-4a...,completed,ashley.zhao@ibm.com,SELECT _source._...,cos://s3.us-sout...,2019-12-09T19:35...,2019-12-09T19:36...,16523.0,667.0,14597570.0,None,None,8.0
18,4ac934da-6b45-46...,completed,ashley.zhao@ibm.com,SELECT _source._...,cos://s3.us-sout...,2019-12-09T19:35...,2019-12-09T19:35...,148148.0,1566.0,130925842.0,None,None,9.0
19,81abb90e-de7d-44...,completed,ashley.zhao@ibm.com,SELECT * FROM DE...,cos://s3.us-sout...,2019-12-09T19:34...,2019-12-09T19:35...,NaN,42.0,NaN,None,None,10.0
20,e5323ba6-5e62-4c...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2019-12-09T19:34...,2019-12-09T19:34...,10001.0,10001.0,344227.0,None,None,11.0
21,e0a503de-5ce2-41...,completed,ashley.zhao@ibm.com,SELECT _source._...,cos://s3.us-sout...,2019-12-09T19:34...,2019-12-09T19:34...,10001.0,1.0,344227.0,None,None,12.0
22,f408ca6c-6eac-48...,completed,ashley.zhao@ibm.com,"SELECT *, date_f...",cos://s3.us-sout...,2019-12-09T19:34...,2019-12-09T19:34...,10001.0,10001.0,344227.0,None,None,13.0
23,ddb78c66-e8c2-42...,completed,ashley.zhao@ibm.com,with da_ts_table...,cos://s3.us-sout...,2019-11-28T21:21...,2019-11-28T21:22...,120402.0,3827.0,112552842.0,None,None,14.0
24,e02f8922-643d-41...,completed,ashley.zhao@ibm.com,with da_ts_table...,cos://s3.us-sout...,2019-11-28T21:21...,2019-11-28T21:21...,120402.0,286.0,112552842.0,None,None,15.0
25,cbd11063-9e2b-47...,completed,ashley.zhao@ibm.com,SELECT _source._...,cos://s3.us-sout...,2019-11-28T21:20...,2019-11-28T21:21...,16523.0,636.0,15416745.0,None,None,16.0
26,4ede3862-e792-4d...,completed,ashley.zhao@ibm.com,SELECT _source._...,cos://s3.us-sout...,2019-11-28T21:19...,2019-11-28T21:20...,156954.0,1566.0,150070772.0,None,None,17.0
27,c1060af9-6edf-4f...,completed,ashley.zhao@ibm.com,SELECT * FROM DE...,cos://s3.us-sout...,2019-11-28T21:19...,2019-11-28T21:19...,NaN,42.0,NaN,None,None,18.0
28,46c2f3ba-b3a0-48...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2019-11-28T21:19...,2019-11-28T21:19...,10001.0,10001.0,344227.0,None,None,19.0
29,1b264e86-588c-4f...,completed,ashley.zhao@ibm.com,SELECT _source._...,cos://s3.us-sout...,2019-11-28T21:19...,2019-11-28T21:19...,10001.0,1.0,344227.0,None,None,20.0
30,e25e6f5e-c7e7-48...,completed,ashley.zhao@ibm.com,"SELECT *, date_f...",cos://s3.us-sout...,2019-11-28T21:19...,2019-11-28T21:19...,10001.0,10001.0,344227.0,None,None,21.0
31,8ff60ae4-5dc9-43...,failed,ashley.zhao@ibm.com,SELECT _source._...,cos://s3.us-sout...,2019-11-28T21:11...,2019-11-28T21:11...,NaN,NaN,NaN,SQL execution fa...,Execution failed...,22.0
32,fdd6fd87-7a0c-49...,completed,ashley.zhao@ibm.com,SELECT * FROM DE...,cos://s3.us-sout...,2019-11-28T21:11...,2019-11-28T21:11...,NaN,42.0,NaN,None,None,23.0
33,241ded35-a36b-40...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2019-11-28T21:11...,2019-11-28T21:11...,10001.0,10001.0,344227.0,None,None,24.0
34,50fc2913-fd5c-47...,completed,ashley.zhao@ibm.com,SELECT _source._...,cos://s3.us-sout...,2019-11-28T21:10...,2019-11-28T21:11...,10001.0,1.0,344227.0,None,None,25.0
35,8c6f38e0-bb49-45...,completed,ashley.zhao@ibm.com,"SELECT *, date_f...",cos://s3.us-sout...,2019-11-28T21:10...,2019-11-28T21:10...,10001.0,10001.0,344227.0,None,None,26.0
36,fed05471-2133-45...,completed,ashley.zhao@ibm.com,with da_ts_table...,cos://s3.us-sout...,2019-11-28T19:16...,2019-11-28T19:17...,120402.0,3827.0,112552842.0,None,None,27.0
37,bc1fdeac-d896-46...,completed,ashley.zhao@ibm.com,with da_ts_table...,cos://s3.us-sout...,2019-11-28T19:14...,2019-11-28T19:16...,120402.0,286.0,112552842.0,None,None,28.0
38,677e7663-c362-4c...,completed,ashley.zhao@ibm.com,SELECT _source._...,cos://s3.us-sout...,2019-11-28T19:13...,2019-11-28T19:14...,16523.0,636.0,15416745.0,None,None,29.0
39,83dcc961-b070-4d...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2020-02-18T21:56...,2020-02-18T21:56...,830.0,100.0,30606.0,None,None,0.0
40,673162dc-8804-42...,completed,ashley.zhao@ibm.com,"SELECT OrderID, ...",cos://s3.us-sout...,2020-02-18T21:55...,2020-02-18T21:55...,921.0,830.0,17111.0,None,None,1.0
41,054d1839-2d38-49...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2020-02-18T21:55...,2020-02-18T21:55...,30.0,30.0,6090.0,None,None,2.0
42,f13c36f0-ba2a-44...,completed,ashley.zhao@ibm.com,"SELECT OrderID, ...",cos://s3.us-sout...,2020-02-18T21:54...,2020-02-18T21:54...,921.0,830.0,43058.0,None,None,3.0
43,c603b324-f696-42...,completed,ashley.zhao@ibm.com,SELECT o.OrderID...,cos://s3.us-sout...,2020-02-18T21:53...,2020-02-18T21:54...,1760.0,29.0,41499.0,None,None,4.0
44,2836b73b-7585-4e...,completed,ashley.zhao@ibm.com,SELECT o.OrderID...,cos://s3.us-sout...,2020-02-18T21:53...,2020-02-18T21:53...,1760.0,29.0,41499.0,None,None,5.0
45,034070c9-5d06-43...,completed,ashley.zhao@ibm.com,SELECT * FROM co...,cos://s3.us-sout...,2020-02-18T17:06...,2020-02-18T17:06...,30.0,30.0,20001.0,None,None,6.0

### <a id="next"></a> 9. Next steps
In this notebook you learned how you can use the `ibmcloudsql` library in a Python notebook to submit SQL queries on data in IBM Cloud Object Storage and how you can interact with the query results. If you want to automate such an SQL query execution as part of your cloud solution, you can use the <a href="https://console.bluemix.net/openwhisk/" target="_blank">IBM Cloud Functions</a> framework. There is a dedicated SQL function available that lets you set up a cloud function to run SQL statements with IBM Cloud SQL Query. You can find the documentation for doing this <a href="https://hub.docker.com/r/ibmfunctions/sqlquery/" target="_blank" rel="noopener noreferrer">here</a>.

### <a id="authors"></a>Authors

**Torsten Steinbach**, Torsten is the lead architect for IBM Cloud Data Lake. Previously he has worked as IBM architect for a series of data management products and services, including DB2, PureData for Analytics and Db2 on Cloud.

<hr>
Copyright &copy; IBM Corp. 2020. This notebook and its source code are released under the terms of the MIT License.

<div style="background:#F5F7FA; height:110px; padding: 2em; font-size:14px;">
<span style="font-size:18px;color:#152935;">Love this notebook? </span>
<span style="font-size:15px;color:#152935;float:right;margin-right:40px;">Don't have an account yet?</span><br>
<span style="color:#5A6872;">Share it with your colleagues and help them discover the power of Watson Studio!</span>
<span style="border: 1px solid #3d70b2;padding:8px;float:right;margin-right:40px; color:#3d70b2;"><a href="https://ibm.co/wsnotebooks" target="_blank" style="color: #3d70b2;text-decoration: none;">Sign Up</a></span><br>
</div>